{# Itransformer.es is an online application to transform images
Copyright (C) 2013  Manolo Salsas

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

Contact: manolez@gmail.com - http://msalsas.com
#}


<div id="imagen">
    <div id="error">{{ image.error|trans|raw }}</div>
    <div id="img"><img id="img_cargada" src="{{ path('viewImageSample') }}?{{ random() }} " width="{{ image.dimx }}" height="{{ image.dimy }}" data-alto_orig="{{ image.dimy }}" data-ancho_orig="{{ image.dimx }}"></div>
    <canvas id="lienzo" width="{{ image.dimx }}" height="{{ image.dimy }}"></canvas>
    <img id="img_cargando" src="{{ asset('public/img/ajax-loader.gif') }}">
    <figcaption>
        {% trans %}ancho{% endtrans %}: {{ image.dimx }} {% trans %}alto{% endtrans %}: {{ image.dimy }}
    </figcaption>
</div>
