<div id="imagen">
    <div id="error">{{ image.error|trans|raw }}</div>
    <div id="img"><img id="img_cargada" src="{{ path('viewImageSample') }}?{{ random() }} " width="{{ image.dimx }}" height="{{ image.dimy }}" data-alto_orig="{{ image.dimy }}" data-ancho_orig="{{ image.dimx }}"></div>
    <canvas id="lienzo" width="{{ image.dimx }}" height="{{ image.dimy }}"></canvas>
    <img id="img_cargando" src="{{ asset('img/ajax-loader.gif') }}">
    <figcaption>
        {% trans %}ancho{% endtrans %}: {{ image.dimx }} {% trans %}alto{% endtrans %}: {{ image.dimy }}
    </figcaption>
</div>
