{# Itransformer.es is an online application to transform images
Copyright (C) 2013  Manolo Salsas

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

Contact: manolez@gmail.com - http://msalsas.com
#}


{% extends '::base.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	{% javascripts '../app/Resources/FOSUserBundle/public/js/disenio_forms.js' filter='yui_js'%}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block sections %}
		<div class="articulo gradient"><article>
			<header>
				<h1>{% trans %}Bienvenido a Itransformer.es{% endtrans %}</h1>
				<h2>{% trans %}Gestión de usuarios{% endtrans %}</h2>
			</header>
		</article>
		<article>
		 <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> | 
                <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
		</article></div>
{% endblock %}

{% block aside %}

<p class="tituloCond">{% trans %}CONDICIONES DE LAS CUENTAS DE USUARIO{% endtrans %}</p><br>

<p>{% trans %}Es necesario crear una cuenta de usuario para poder acceder al foro.{% endtrans %}</p><br>

<p class="tituloCond2">{% trans %}PRIVACIDAD{% endtrans %}</p><br>

<p>{% trans %}Las cuentas de usuario son privadas. Los datos necesarios son un nombre y un correo electrónico. Estos datos no se utilizarán para enviar spam. Únicamente se enviarán las noticias sobre actualizaciones relevantes de la aplicación. El usuario podrá solicitar la eliminación de su cuenta en cualquier momento enviando un correo electrónico a manolez@gmail.com{% endtrans %}</p>

 
{% endblock %}
